html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: url(../images/tsujita-image.jpg) no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(45, 45, 45, 0.8);
    z-index: 1;
}

#logo {
    display: inline-block;
    padding: 10px;
    height: 50px;
    width: 200px;
}

svg {
    fill: #FFFFFF;
}

#nav-bar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
}  

.tabs {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 300;
}

.tabs:hover {
    /* background-color: #FFFFFF; */
    cursor: pointer;
    color: #FEE600;
    font-weight: 500;
    text-decoration: underline;
}

.tabs-active {
    color: #FEE600;
    font-weight: 500;
    text-decoration: underline;
    position: relative;
    bottom: 5px;
}

.home-pg-style {
    /* width: 50%; */
    background-color: rgba(45, 45, 45, 0.6);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
}

h1 {
    font-size: 60px;
    padding: 30px 0;
}

#description {
    font-size: 24px;
    padding-bottom: 30px;
}

#menu-container {
    background-color: rgba(45, 45, 45, 0.6);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 70px;
}

#main-dish-container {
    display: flex;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-category {
    font-size: 40px;
    font-weight: 500;
    padding: 15px 30px;
}

.dish-card {
    display: flex;
    max-width: 430px;
    align-items: center;
    padding: 15px 30px;
}

.dish-desc-card {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.dish-title {
    font-size: 25px;
    font-weight: 400;
}

.dish-description {
    font-size: 20px;
    padding: 10px 0;
}

.size-card {
    display: flex;
    flex-direction: column;
}

.size-style {
    font-size: 20px;
}

img {
    height: 150px;
    width: 150px;
}